.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    color:#c2185b;
}
.mat-label{
	display: inline-block;
    position: relative;
    text-align: left;
	color:#c2185b;
}
.mat-datepicker-toggle{
  display: inline-block;
    position: relative;
    text-align: left;
	color:#c2185b;
}

.full-width{
	width:100%;
	color:#c2185b;
}

.mat-raised-button{
  width:15%;
  height:30%;
}

.penInput {
	min-width: 3rem;
    max-width: 6rem;
}
.center-text{
	text-align: center;
}
.center {
	display:flex;
	justify-content: center;
}
.img-width{
	max-width: 200px;
}
  
.example-card {
    max-width: 200px;
  }
  
  .example-header-image {
    background-image: url('/assets/images/su.jpg');
    background-size: cover;
  }