<div class="mat-elevation-z8">

  <div fxLayout fxLayoutAlign="center center">
      <mat-form-field fxFlex="40%" >
        <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search activity">
      </mat-form-field>
    </div>
    
<table mat-table class="full-width-table" matSort aria-label="Elements">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
  </ng-container>

  <ng-container matColumnDef="activityname">
      <th mat-header-cell *matHeaderCellDef> Activity name </th>
      <td mat-cell *matCellDef="let activity"> {{activity.activityname}} </td>
    </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="activitydescription">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let activity">{{activity.activitydescription}}</td>
  </ng-container>

  <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>period</th>
      <td mat-cell *matCellDef="let activity">{{activity.period}}</td>
    </ng-container>

    <ng-container matColumnDef="Date">`
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let activity">{{activity.Date}}</td>
    </ng-container>

    <ng-container matColumnDef="host">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Host</th>
      <td mat-cell *matCellDef="let activity">{{activity.host}}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let activity" >{{activity.status}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
    
    <div class="center-button">
      <ng-container matColumnDef="updateBtn">
          <th mat-header-cell *matHeaderCellDef class="center-text">update</th>
          <td mat-cell *matCellDef="let activity">


                  <a mat-flat-button [routerLink]="['updatelist',activity.id]" color="primary" class="btn btn-black"  routerLinkActive="router-link-active" id="btn" >Update</a>
                </td>

          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      </div>
      <div class="center-button">
        <ng-container matColumnDef="viewBtn">
            <th mat-header-cell *matHeaderCellDef class="center-text">View student</th>
            <td mat-cell *matCellDef="let activity">
                <a mat-flat-button color="primary" class="btn btn-black" [routerLink]="['mixdatatable']" routerLinkActive="router-link-active">View</a>
                <!-- <button mat-raised-button [routerLink]="['mixdatatable']" class="center-text" color="primary" class="view">View student</button> -->
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      </div>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let activity; columns: displayedColumns;"></tr>

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

</table>
        <router-outlet></router-outlet>


<mat-paginator #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>


</div>
