<div>
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="search activity">
        </mat-form-field>
      </div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
    </ng-container>

    <ng-container matColumnDef="activityname">
        <th mat-header-cell *matHeaderCellDef> Activity name </th>
        <td mat-cell *matCellDef="let activity"> {{activity.activityname}} </td>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="activitydescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let activity">{{activity.activitydescription}}</td>
    </ng-container>

    <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>period</th>
        <td mat-cell *matCellDef="let activity">{{activity.period}}</td>
      </ng-container>

      <ng-container matColumnDef="Date">`
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let activity">{{activity.Date}}</td>
      </ng-container>

      <ng-container matColumnDef="host">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Host</th>
        <td mat-cell *matCellDef="let activity">{{activity.host}}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
      </ng-container>

      
      <div class="center-button">
        <ng-container matColumnDef="AddBtn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let activity">
                <a mat-flat-button color="primary" class="btn btn-black" (click)="openDialog()" routerLinkActive="router-link-active">Add</a>     
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let activity; columns: displayedColumns;"></tr>

  </table>
  <div class="fixed-bottom">
    
  </div>
<mat-paginator #paginator
[length]="dataSource?.data.length"
[pageIndex]="0"
[pageSize]="50"
[pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>
</div>
