
.button-amount{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 2px;
}

.full-width-table {
	width: 100%;
	height: 100%;
  }
  
.input-amount{
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
	width: 60px;
	text-align: center;

}
div.absolute {
	position: absolute;
	bottom: 10px;
	width: 50%;
	border: 3px solid #8AC007;
  }
  