<mat-sidenav-content>
    <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <span> Learning Through Activity Management System </span>


  <div>
       
    <!-- <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active"> Home Page </a> -->

    <a mat-button [routerLink]="['/admin-dashboard']" routerLinkActive="router-link-active"> Administrator </a>
    <img src= "/assets/images/admin.jpeg" alt="Avatar" class="image" width =30 height = 30>

    <a mat-button [routerLink]="['/teacher-dashboard']" routerLinkActive="router-link-active"> Teacher   </a>
    <img src= "/assets/images/teacher.jpeg" alt="Avatar" class="image"  width =30 height = 30>

    <a mat-button [routerLink]="['/student-dashboard']" routerLinkActive="router-link-active"> Student </a>
    <img src= "/assets/images/student.jpeg" alt="Avatar" class="image" width =30 height = 30>

</div>
    </mat-toolbar> 
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

</mat-sidenav-content>
<img src="/assets/images/CAMT.jpeg" alt="homePage" class="image" width=1430 height=750>  

