
               
 <form>                       
  
   <mat-form-field appearance="fill"  class="full-width">
    <mat-label>Name of the activity</mat-label>
    <input matInput placeholder="Name of the activity">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
   </mat-form-field>

  <mat-form-field appearance="fill"  class="full-width">
   <mat-label>Description of the activity</mat-label>
   <input matInput placeholder="description of the activity">
   <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill"  class="full-width">
    <mat-label>Period of the activity</mat-label>
    <input matInput placeholder="Period of the activity">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
   </mat-form-field>

   <mat-form-field appearance="fill"  class="full-width">
    <mat-label>Location of the activity</mat-label>
    <input matInput placeholder="location of the activity">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
   </mat-form-field>

   <mat-form-field appearance="fill"  class="full-width">
    <mat-label>Host of the activity</mat-label>
    <input matInput placeholder="host of the activity">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
   </mat-form-field>
                
             
    <mat-form-field appearance="fill" class="full-width">
     <mat-label>Date of the activity</mat-label>
     <input matInput [matDatepicker]="picker" placeholder="Date of the activity">
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
                 

     <div class="center">
      <a mat-flat-button color="primary" class="btn btn-black" (click)="creat()" routerLinkActive="router-link-active">Creat</a>                 
     </div>
                              
 </form>

