
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    color:#c2185b;
}
.mat-label{
	display: inline-block;
    position: relative;
    text-align: left;
	color:#c2185b;
}
.mat-datepicker-toggle{
  display: inline-block;
    position: relative;
    text-align: left;
	color:#c2185b;
}

.full-width{
	width:100%;
	color:#c2185b;
}

.mat-raised-button{
  width:15%;
  height:30%;
}

  .center-text {
	text-align: center;
  }
  
  .center {
	display: flex;
	justify-content: center;
  }